{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ exam.title }}</title>
    <link href="{% static 'exam.css' %}" rel="stylesheet">
    <link href="{% static 'result.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'exam.js' %}"></script>
</head>
<body>
    <div id="header">
        <input id="home-button" type="button" onclick="location.href='/';" value="Home" />
        <input id="submit-button" form="question-form" type="submit" value="Проверка">
        <h1>{{ exam.title }}</h1>
    </div>

    <div id="content">
        <form id="question-form" action="javascript:submitForm()">
            {% csrf_token %}
            <div class="question-list">
                {% for question, form in quest_form_pairs %}
                    {% include 'exams/question.html' with index_num=forloop.counter %}
                {% endfor %}
            </div>
        </form>
        <div id="result"></div>
    </div>

    <!-- A modal dialog containing a form -->
    <dialog id="dialog">
        <form method="dialog">
          <label for="importbox">
              Текст для импорта
          </label><textarea id="importbox" rows=15 cols=15 autofocus></textarea>
          <div>
              <button value="cancel">Cancel</button>
              <button id="confirmBtn" value="default">Confirm</button>
          </div>
        </form>
    </dialog>
    <p>
      <button id="showDialog">Импорт</button>
    </p>
    <script type="text/javascript" src="{% static 'dialog.js' %}"></script>

    <script>submitForm();</script>
</body>
</html>
