{% load static %}

<!DOCTYPE html>
<html lang="ru" translate="no">
<head>
    <meta charset="UTF-8">
    <title>{{ exam.title }}</title>
    <link href="{% static 'exam.css' %}" rel="stylesheet">
    <link href="{% static 'result.css' %}" rel="stylesheet">
    <link href="{% static 'dialog.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'exam.js' %}"></script>
</head>
<body>
    <div id="header">
        <input id="home-button" type="button" onclick="location.href='/';" value="Home" />
        <input id="submit-button" form="question-form" type="submit" value="Проверка">
        <button id="dialog-show">Импорт</button>
        <h1>{{ exam.title }}</h1>
    </div>

    <div id="content">
        <form id="question-form" action="javascript:submitForm()">
            {% csrf_token %}
            <div class="question-list">
                {% for question, form in quest_form_pairs %}
                    {% include 'exams/question.html' with index_num=forloop.counter %}
                {% endfor %}
            </div>
        </form>
        <div id="result"></div>
    </div>

    <!-- A modal dialog containing a form -->
    <dialog id="dialog">
        <form method="dialog">
            <span id="dialog-close">×</span><br>
            <label for="dialog-importbox" style="text-align: center;">Импорт</label>
            <textarea id="dialog-importbox" rows=15 cols=15 autofocus></textarea>
            <div>
                <button id="dialog-clear">Clear All</button>
                <button id="dialog-confirm">Confirm</button>
            </div>
        </form>
    </dialog>
    <script type="text/javascript" src="{% static 'dialog.js' %}"></script>

    <script>submitForm();</script>
</body>
</html>
