.question-list {
    width: max-content;
    columns: 2;
}

.question {
    border: 1px solid black;
    break-inside: avoid;
}

.question > h3, .ansForm {
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

.ansForm {
    border: 1px solid black;
    margin: 5px;
}

.ansForm > * {
    display: flex;
    flex-flow: column wrap;
}

#submit-button {
    background: #559df8;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid black;
}

#submit-button:hover {
   background-color: blue;
   color:white;
}

input[type="text"] {
    background: #e7edf8;
}

body {
    background: #e7edf8;
    margin: 0;
    padding: 0;
}

#header {
    display: grid;
    grid-area: 1 / 1 / 1 / 1;
    grid-template-columns: 1fr 2fr 1fr 4fr;
    margin-top: 10px;
    margin-bottom: 17px;
    background: white;
}

#header > #home-button {
    grid-area: 1 / 1 / 1 / 1;
    margin: auto;
    background-color: #fffacd;
}

#header > #home-button:hover {
    background-color: orange;
}

#header > #submit-button {
    grid-area: 1 / 2 / 1 / 2;
    height: 80%;
    width: 30%;
    font-size: 1vw;
    margin: auto 5px auto auto;
}

#showDialog {
    grid-area: 1 / 3 / 1 / 3;
    border: 1px solid black;
    height: 65%;
    width: 40%;
    font-size: 1vw;
    margin: auto auto auto 5px;
}

#showDialog:hover {
    background-color: #c71585;
}

#dialog label {
    font-size: 14px;
    display: block;
}

#header > h1 {
    grid-area: 1 / 4 / 1 / 4;
    margin: auto;
    color: #223e65;
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#question-form {
    grid-area: 1 / 1 / 1 / 1;
    margin-left: 40px;
}

#result {
    grid-area: 1 / 2 / 1 / 2;
}