.dropdown {
    margin: 2em 3em;
    padding: 0;
    width: auto;
}

.dropdown:first-of-type {
    margin-left: 2em;
}

.dropdown:last-of-type {
    margin-right: 0;
}

li.searchEntry {
    display: none;
}

li.searchEntry:hover {
    background-color: lightcyan;
}

#searchResults {
    visibility: hidden;
    padding-left: 0;
    margin-left: 2em;
    width: max-content;
}

.input-group {
    padding-left: 0;
    margin-left: 2em;
    width: auto;
}
