td[data-type="pending"] {
    background: #f6fb5d;
}

td[data-type="wrong"] {
    background: #ef5546;
}

td[data-type="correct"] {
    background: #58c045;
}

td.index-number {
    color: #223e65;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#answer-count {
    color: #223e65;
    font-weight: bold;
    text-align: center;
}

#result-table {
    background: white;
    margin: auto;
}

#result-table pre {
    margin: 0;
}

#details-summary {
    display: block;
    margin: auto auto 1rem auto;
    resize: none;
}
